<div *ngIf="product" class="detailed-product-container">
  <div class="top-boxes-detailed-product">
    <div class="top-box-detailed-product-left">
      <img [src]="product.image" [alt]="product.image_alt">
    </div>
    <div class="top-box-detailed-product-right">
      <div class="information-detailed-product">

        <h1 class="body-title font-base">{{ product.name }}</h1>
        <h2 class="big-price font-base">{{ product.price }}{{ product.currency }}</h2>
        <p class="body-text font-base">
          Subcategory: {{ product.subcategory || 'N/A'}}<br>
          Brand: {{ product.brand || 'N/A' }}<br>
          Color: 'N/A'<br>
        </p>
        <div class="availability">
          <div class="availability-in-store">
            <img src="assets/star.png" alt="Star"/>
            <p class="body-text font-base">{{ product.availability.in_store ? 'AVAILABLE IN STORE' : 'NOT AVAILABLE IN STORE' }}</p>
          </div>
          <div class="availability-for-delivery">
            <img src="assets/arrow.png" alt="Arrow"/>
            <p class="body-text font-base">{{ product.availability.delivery ? 'AVAILABLE FOR DELIVERY' : 'NOT AVAILABLE FOR DELIVERY' }}</p>
          </div>
        </div>

      </div>

      <div id="add-favorite-container">
        <button class="add-favorite-button" id="add-favorite-button" (click)="addToWishList()" >
          <span class="favorite-text font-base">Add to wish list</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom-box-detailed-product">
    <h2 class="body-title font-base">About this item</h2>
    <p class="body-text font-base" *ngFor="let line of product.description">{{ line }}</p>
  </div>
</div>
