<header>
  <div class="header-content">
    <div class="logo">
      <a href="index.html">
        <img src="/assets/logo0.png" alt="TIMAC logo">
      </a>
    </div>
    <form class="search-form" id="searchForm">
      <label>
        <input class="search-bar font-base" type="search" placeholder="Search" id="searchBar">
      </label>
    </form>
    <div class="account-basket-container">
      <img class="shopping" src="/assets/Basket.png" alt="Your basket">
      <img class="user" src="assets/AccountIcon.png" alt="Your Account" id="account-menu" (click)="toggleLoginButtons()">
      <div class="menu-buttons-alignment" *ngIf="areLoginButtonsDisplaying">
        <div class="menu-container-unlogged">
          <button class="menu-sign-up-button" type="button">
            <span class="body-text font-base">Sign up</span>
          </button>
          <button class="menu-sign-in-button" type="button">
            <span class="body-text font-base">Sign in</span>
          </button>
        </div>
        <div class="menu-container-logged">
          <button class="menu-log-out-button" type="button">
            <span class="body-text font-base">Log out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav-carousel body-text font-base">
    <a class="nav-button">Offers & Clearance</a>
    <a class="nav-button">Building & Hardware</a>
    <a class="nav-button">Heating & Cooling</a>
    <a class="nav-button">Lighting & Electrical</a>
    <a class="nav-button">Painting & Decorating</a>
    <a class="nav-button">Tools & Equipment</a>
    <a class="nav-button">New & Trending</a>
  </nav>
</header>
