<footer class="footer-pack">
    <div class="contact-container">
        <p class="contact">Contact</p>
        <div class="contact-info-container">
            <img src="assets/phone0.svg" alt="Phone Icon">
            <p class="phone-number">916 12 6936</p>
        </div>
        <div class="contact-info-container">
            <img src="assets/home0.svg" alt="Home Icon">
            <p class="address">Polígono Agustinos, Calle B - 31013 Pamplona - Navarra - España.</p>
        </div>
    </div>

    <div class="map">
        <img src="assets/map.png" alt="Location Map">
    </div>

    <div class="social-community">
        <p class="join-our-social-community">Join our Social<br> Community</p>
        <div class="social-icons">
            <a href="https://www.whatsapp.com/" target="_blank">
                <img src="assets/whatsapp-logo0.png" alt="WhatsApp Logo">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="assets/facebook-logo0.png" alt="Facebook Logo">
            </a>
            <a href="https://x.com/" target="_blank">
                <img src="assets/x-logo0.png" alt="X Logo">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="assets/ig-logo0.svg" alt="Instagram Logo">
            </a>
        </div>
    </div>
</footer>

