<div class="main-section">
  <form [formGroup]="userForm" (ngSubmit)="onSumbit()" class="signup-form" id="login-form">
    <label for="email-input" class="info-label">Email:</label>
    <input formControlName="email" id="email-input" class="signup-input" type="email" placeholder="Email Address">
    <span *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="error-message">
      Enter a valid email
    </span>

    <label for="password" class="info-label">Password:</label>
    <input formControlName="password" id="password" class="signup-input" type="password" placeholder="Password">
    <div class="signup-button-container">
      <button type="submit" class="signup-button" id="signup-button">
        <span class="signup-button-text">Log in</span>
      </button>
    </div>
  </form>
    <p class="login-link">Don't have an account? <a routerLink="/sign-up">Create account</a></p>
</div>
