.menu-container-unlogged {
    width: auto;
    height: 50px;
    display: none;
}

.menu-container-logged {
    width: auto;
    height: 50px;
    display: none;
}

.menu-sign-in-button {
    background-color: var(--headerfootercolor-500);
    color: black;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
}

.menu-sign-in-button:hover {
    border: 2px solid black;
}

.menu-sign-up-button {
    background-color: var(--headerfootercolor-500);
    color: black;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
}

.menu-sign-up-button:hover {
    border: 2px solid black;
}

.menu-log-out-button {
    background-color: var(--headerfootercolor-500);
    color: black;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
}

.menu-log-out-button:hover {
    border: 2px solid black;
}