/* BASKET */
* {
    box-sizing: border-box;
}

.basket-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    gap: 20px;
}

.basket-products-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.top-basket-section {
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px;
}

.basket-delivery-option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.basket-deliver-button {
    background-color: var(--headerfootercolor-200);
    width: 80%;
    height: 70px;
    margin: 0 5%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
}

.basket-deliver-button.selected {
    background-color: var(--headerfootercolor-0);
    border: 5px solid black;
}

.bottom-basket-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.basket-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--containerbackground-300);
    margin: 5px 0;
    border: 1px solid black;
}

.basket-checkbox {
    margin-right: 10px;
}

.item-image {
    width: 30%;
    height: auto;
    margin: 0 20px;
    padding: 0;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 3px solid black;
}

.item-details {
    flex-grow: 1;
}

.availability {
    display: flex;
    flex-direction: column;
}

.availability-in-store {
    display: flex;
    align-items: center;
    gap: 5px;
}

.availability-for-delivery {
    display: flex;
    align-items: center;
    gap: 5px;
}

.basket-summary-container {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 10%;
}

.basket-summary-price-section {
    display: flex;
    flex-direction: column;
}

.basket-summary-payment-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.basket-summary-payment-container label {
    margin: 0;
}

.basket-summary-payment-container p {
    margin: 0;
}

.basket-summary-payment-container input {
    width: 20px;
    height: 20px;
}

.basket-summary-vertical {

}

.checkout-now {
    background-color: var(--headerfootercolor-0);
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
}

.checkout-now:hover {
    border: 5px solid black;
}

.counter-container {
    margin: 15px 5px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: var(--headerfootercolor-100);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.counter-button:hover {
    border: 2px solid black;
}

.counter-value {
    font-size: 20px;
    min-width: 40px;
    text-align: center;
}

.basket-summary-section dl {
    margin: 0;
    padding: 0;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.summary-row dt,
.summary-row dd {
    margin: 0;
}

.summary-row dt {
    font-weight: bold;
}

.summary-row dd {
    text-align: right;
}

@media (max-width: 1200px) {
    .basket-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basket-products-container {
        width: 90%;
    }

    .basket-summary-container {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin: 20px 0;
        flex-direction: row;
    }

    .basket-summary-vertical {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .basket-delivery-option {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basket-deliver-button {
        background-color: var(--headerfootercolor-200);
        width: 80%;
        height: 70px;
        margin: 5% 0;
        text-align: center;
        cursor: pointer;
        border-style: outset;
        border-radius: 10px;
    }

    .basket-summary-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin: 20px 0;
    }

    .basket-summary-vertical {
        display: flex;
        flex-direction: column;
    }

    .basket-products-container {
        width: 90%;
    }

    .basket-product {
        display: flex;
        flex-direction: column;
    }

    .item-details * {
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .item-image {
        width: 50%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}
