body,html {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --font-family: Montserrat;
    --bodytitle-font-size: 36px;
    --footertitle-font-size: 32px;
    --bodyprice-font-size: 24px;
    --bodyfiltertags-font-size: 24px;
    --bodytext-font-size: 16px;
    --footertext-font-size: 16px;
    --log-in-sing-up-font-size: 16px;
    --producttag-font-size: 10px;
    --bodylittletext-font-size: 10px;
    --font-weight: 600px;
    --headerfootercolor-0: #fc4c21;
    --headerfootercolor-100: #fc623d;
    --headerfootercolor-200: #fd7959;
    --headerfootercolor-400: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(to left, #fd8f74, #fd8f74);
    --headerfootercolor-500: #febcac;
    --secondarycolor-0: #f5e8b7;
    --secondarycolor-100: #f6ebc0;
    --secondarycolor-200: #f8eec9;
    --secondarycolor-300: #f9f1d2;
    --containerbackground-0: #c1d8c3;
    --containerbackground-100: #c9ddcb;
    --containerbackground-200: #d1e2d2;
    --containerbackground-300: #d8e7da;
    --mg-0: #6a9c89;
    --mg-100: #7da898;
    --mg-200: #8fb5a7;
    --mg-300: #a2c1b5;
}

.header-content {
    background-color: #FC4C21;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    margin-left: 0;
}

.logo img {
    width: 200px;
    height: auto;
}

.shopping {
    margin: 0 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 50px;
    max-width: 50px;
}

.user {
    margin: 0 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 50px;
    max-width: 50px;
}

.search {
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 400px;
    height: 30px;
    font-size: var();
    font-family: var(--font-family), sans-serif;
}

.nav-button {
    background-color: #c9ddcb;
    border-style: solid;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 3px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.nav-carrousel {
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: center;
    align-content: center;
}

.body-text {
    font-family: var(--font-family), serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: var(--bodytext-font-size);
}

.body-title {
    font-family: var(--font-family), serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--bodytitle-font-size);
}

.footer-pack {
    height: 300px;
    background: var(--headerfootercolor-0, #fc4c21);
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-community {
    position: relative;
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 1250px) {
    .map {
        display: none;
    }
    .footer-pack{
        justify-content: center;
    }
}

@media (min-width: 1250px) {
    .map {
        display: block;
    }
    .footer-pack{
        justify-content: space-evenly;
    }
}

.join-our-social-community {
    color: #ffffff;
    font-family: var(--font-family), serif;
    font-size:var(--footertitle-font-size) ;
    font-weight:var(--font-weight) ;
    width: 100%;
    text-align: center;
}

.whatsapp-logo {
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    aspect-ratio: 1;
}

.facebook-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
}

.x-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
}

.ig-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    overflow: visible;
    aspect-ratio: 1;
}

.address {
    color: #ffffff;
    font-family: var(--font-family),sans-serif;
    font-size: var(--footertext-font-size), 16px;
    font-weight: var(--font-weight) ;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 15px;
}

.contact-container{
    height: 250px;
    width: 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    align-items: start;
}

.phone-number {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-family: var(--font-family), sans-serif;
    font-size: var(--footertext-font-size);
    font-weight: var(--font-weight);
}


.contact-info-container{
    width: 100%;
    gap: 3%;
    display: flex;
    justify-content: left;
}

.contact {
    font-family: var(--font-family), sans-serif;
    font-size: var(--footertitle-font-size);
    font-weight: var(--font-weight);
    color: #ffffff;
    width: 100%;
    text-align: center;
}


.map{

    height: 250px;
    width: 30%;
}



.ellipse-3 {
    background: #0564fd;
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 10px;
    height: 10px;
    left: 130px;
    bottom: 110px;
    aspect-ratio: 1;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.subcategory-option{
    flex: 1 0 auto;
    overflow: auto;
}
.subcategory-selection-main-container {
    overflow: auto;
    margin: 0 auto;
    display: flex;
    height: auto;
    width: 75%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}



.subcategory-selection-sub-category-option {
    height: auto;
    width: auto;
    max-height: 250px;
    min-width: 250px;
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subcategory-selection-ellipse-1 {
    background: var(--secondarycolor-100, #f6ebc0);
    border-radius: 100%;
    width: auto;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    justify-content: space-around;
    align-items: center;

}


.subcategory-selection-ellipse-2 {

    border-radius: 50%;
    width: 60%;
    height: 60%;
    position: relative;
    object-fit: cover;
    justify-content: center;
}
.subcategory-selection-link {
    text-decoration: none;
    color: inherit;
}

.subcategory-selection-full-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1;
}
