* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-content {
    flex: 1 0 auto;
    overflow: auto;
    margin: 30px auto;
    width: 70%;
}

.main-content-for-product-display {
    flex: 1 0 auto;
    overflow: auto;
    width: 100%;
}

:root {
    --font-family: Montserrat, sans-serif;
    --bodytitle-font-size: 36px;
    --footertitle-font-size: 32px;
    --bodyprice-font-size: 24px;
    --bodyfiltertags-font-size: 24px;
    --bodybasket-font-size:24px;
    --bodytext-font-size: 16px;
    --footertext-font-size: 16px;
    --log-in-sing-up-font-size: 16px;
    --producttag-font-size: 10px;
    --bodylittletext-font-size: 12px;
    --font-weight: 600;
    --headerfootercolor-0: #fc4c21;
    --headerfootercolor-100: #fc623d;
    --headerfootercolor-200: #fd7959;
    --headerfootercolor-400: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(to left, #fd8f74, #fd8f74);
    --headerfootercolor-500: #febcac;
    --secondarycolor-0: #f5e8b7;
    --secondarycolor-100: #f6ebc0;
    --secondarycolor-200: #f8eec9;
    --secondarycolor-300: #f9f1d2;
    --containerbackground-0: #c1d8c3;
    --containerbackground-100: #c9ddcb;
    --containerbackground-200: #d1e2d2;
    --containerbackground-300: #d8e7da;
    --mg-0: #6a9c89;
    --mg-100: #7da898;
    --mg-200: #8fb5a7;
    --mg-300: #a2c1b5;
}

/* HEADER */
.header-content {
    background-color: #FC4C21;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.logo img {
    width: 200px;
    height: auto;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.shopping,
.user {
    width: 50px;
    height: 50px;
    margin: 0 25px;
}

.search-bar {
    width: 400px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.nav-carousel {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    background-color: #c9ddcb;
    border: solid 1px #999;
    border-radius: 5px;
    padding: 5px 10px;
    height: 50px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #b0c4b1;
}


/* FOOTER */
.footer-pack {
    min-height: 300px;
    background: var(--headerfootercolor-0, #fc4c21);
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.social-community {
    position: relative;
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 1250px) {
    .map {
        display: none;
    }
    .footer-pack{
        justify-content: center;
    }
}

@media (min-width: 1250px) {
    .map {
        display: block;
    }
    .footer-pack{
        justify-content: space-evenly;
    }
}

.join-our-social-community {
    color: #ffffff;
    font-family: var(--font-family), serif;
    font-size:var(--footertitle-font-size) ;
    font-weight:var(--font-weight) ;
    width: 100%;
    text-align: center;
}

.whatsapp-logo {
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    aspect-ratio: 1;
}

.facebook-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
}

.x-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
}

.ig-logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    overflow: visible;
    aspect-ratio: 1;
}

.address {
    color: #ffffff;
    font-family: var(--font-family),sans-serif;
    font-size: var(--footertext-font-size), 16px;
    font-weight: var(--font-weight) ;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 15px;
}

.contact-container{
    height: 250px;
    width: 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    align-items: start;
}

.phone-number {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-family: var(--font-family), sans-serif;
    font-size: var(--footertext-font-size);
    font-weight: var(--font-weight);
}


.contact-info-container{
    width: 100%;
    gap: 3%;
    display: flex;
    justify-content: left;
}

.contact {
    font-family: var(--font-family), sans-serif;
    font-size: var(--footertitle-font-size);
    font-weight: var(--font-weight);
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.map{
    height: 250px;
    width: 30%;
}

.ellipse-3 {
    background: #0564fd;
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 10px;
    height: 10px;
    left: 130px;
    bottom: 110px;
    aspect-ratio: 1;
    position: relative;
}

/* FONTS */
.font-base {
    font-family: var(--font-family), serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight);
    font-style: normal;
}

.body-text {
    font-size: var(--bodytext-font-size);
}

.body-title {
    font-size: var(--bodytitle-font-size);
}

.big-price {
    font-size: var(--bodytitle-font-size);
    color: red;
}

.basket-text {
    font-size: var(--bodybasket-font-size);
    color: white;
}

.body-subtitle {
    font-size: var(--bodybasket-font-size);
}

.center-text {
    text-align: center;
}

.body-little {
    font-size: var(--bodylittletext-font-size);
}

.filter-bar-text {
    width: 50%;
    font-size: var(--bodyfiltertags-font-size);
}

.filter-bar-title h1 {
    font-size: var(--bodytitle-font-size);
}

.product-display-title-sort-by-text {
    top: 2px;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--bodyfiltertags-font-size);
    position: relative;
}

.product-display-title-button {
    text-align: center;
    font-size: var(--bodytext-font-size);
    position: relative;
    margin: 0;
    top: 26px;
    padding: 0;
    height: 30px;
}

.subcategory-name {
    text-align: center;
    font-size: var(--bodytitle-font-size);
    position: relative;
    width: 70%;
}

.single-big-product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--bodytext-font-size);
    height: 20px;
    width: 80%;
    overflow: hidden;
}

.single-big-product-price {
    text-align: left;
    font-size: var(--bodyfiltertags-font-size);
    position: relative;
    height: 9%;
    width: 87px;
}

.single-big-product-price h2{
    font-size: var(--bodyfiltertags-font-size);
    margin: 0;
}

.single-big-product-available-in-store {
    text-align: center;
    font-size: var(--bodylittletext-font-size);
    width: 200px;
    height: 22px;
    margin: 0;
}

.single-big-product-available-to-deliver {
    text-align: center;
    font-size: var(--bodylittletext-font-size, 10px);
    position: relative;
    width: 200px;
    height: 22px;
    margin: 0;
}

.product-title {
    font-size: 1em;
    margin: 0;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 95%;
}
.product-price {
    font-size: 1em;
    margin: 0;
}

.product-section-title {
    font-size: var(--footertitle-font-size);
    margin-bottom: 5px;
}