<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <div class="account-favorites-container-left">
        <a [routerLink]="['/favorites']">
          <img class="shopping" src="assets/Basket.png" alt="Your favorites"/>
        </a>
      </div>
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="assets/logo0.png" alt="TIMAC Logo"/>
        </a>
      </div>
      <div class="account-basket-container-right">
        <img class="user" src="assets/AccountIcon.png" alt="Your Account" (click)="toggleMenu()"/>
        <div class="menu-buttons-alignment" *ngIf="showMenu">
          <div class="menu-container-unlogged" *ngIf="!isLoggedIn">
            <ion-button class="menu-sign-up-button" fill="clear" [routerLink]="['auth/register']">
              <span class="body-text font-base">Register</span>
            </ion-button>
            <ion-button class="menu-sign-in-button" fill="clear" [routerLink]="['auth/login']">
              <span class="body-text font-base">Log in</span>
            </ion-button>
          </div>
          <div class="menu-container-logged" *ngIf="isLoggedIn">
            <ion-button class="menu-log-out-button" fill="clear" (click)="logout()">
              <span class="body-text font-base">Log out</span>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
