<header>
  <div class="header-content">
    <div class="account-basket-container-left">
      <a routerLink="/basket">
        <img class="shopping" src="assets/Basket.png" alt="Your basket">
      </a>
    </div>
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo0.png" alt="TIMAC logo">
      </a>
    </div>
    <div class="account-basket-container-right">
      <img class="user" src="assets/AccountIcon.png" alt="Your Account" id="account-menu">
      <div class="menu-buttons-alignment">
        <div class="menu-container-unlogged">
          <button class="menu-sign-up-button" type="button" [routerLink]="['/register']">
            <span class="body-text font-base">Register</span>
          </button>
          <button class="menu-sign-in-button" type="button" [routerLink]="['/login']">
            <span class="body-text font-base">Log in</span>
          </button>
        </div>
        <div class="menu-container-logged">
          <button class="menu-log-out-button" type="button">
            <span class="body-text font-base">Log out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
