<header>
  <div class="header-content">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo0.png" alt="TIMAC logo">
      </a>
    </div>
    <form class="search-form" id="searchForm">
      <label>
        <input class="search-bar font-base" type="search" placeholder="Search" id="searchBar">
      </label>
    </form>
    <div class="account-basket-container">
      <a routerLink="/basket">
        <img class="shopping" src="assets/Basket.png" alt="Your basket">
      </a>
      <img class="user" src="assets/AccountIcon.png" alt="Your Account" id="account-menu" (click)="toggleLoginButtons()">
      <div class="menu-buttons-alignment" *ngIf="areLoginButtonsDisplaying">
        <div *ngIf="!checkLoginStatus()" class="menu-container-unlogged">
          <button class="menu-sign-up-button" type="button" [routerLink]="['/sign-up']">
            <span class="body-text font-base">Sign up</span>
          </button>
          <button class="menu-sign-in-button" type="button" [routerLink]="['/log-in']" >
            <span class="body-text font-base">Sign in</span>
          </button>
        </div>
        <div *ngIf="checkLoginStatus()" class="menu-container-logged">
          <button (click)="handleLogout()" class="menu-log-out-button" type="button">
            <span class="body-text font-base">Log out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav-carousel body-text font-base">
    <a class="nav-button" routerLink="/offers" [queryParams]="{ query: 'offers' }" >Offers & Clearance</a>
    <a class="nav-button" routerLink="/building" >Building & Hardware</a>
    <a class="nav-button" routerLink="/heating"  >Heating & Cooling</a>
    <a class="nav-button" routerLink="/lighting" >Lighting & Electrical</a>
    <a class="nav-button" routerLink="/painting" >Painting & Decorating</a>
    <a class="nav-button" routerLink="/tools" >Tools & Equipment</a>
    <a class="nav-button" routerLink="/new" >New & Trending</a>
  </nav>
</header>
