/* Figma Styles of your File */
:root {
  /* Colors */
  --headerfootercolor-0: #fc4c21;
  --headerfootercolor-100: #fc623d;
  --headerfootercolor-200: #fd7959;
  --headerfootercolor-400: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(to left, #fd8f74, #fd8f74);
  --headerfootercolor-500: #febcac;
  --secondarycolor-0: #f5e8b7;
  --secondarycolor-100: #f6ebc0;
  --secondarycolor-200: #f8eec9;
  --secondarycolor-300: #f9f1d2;
  --containerbackground-0: #c1d8c3;
  --containerbackground-100: #c9ddcb;
  --containerbackground-200: #d1e2d2;
  --containerbackground-300: #d8e7da;
  --mg-0: #6a9c89;
  --mg-100: #7da898;
  --mg-200: #8fb5a7;
  --mg-300: #a2c1b5;

  /* Fonts */
  --bodytitle-font-family: Montserrat-SemiBold, sans-serif;
  --bodytitle-font-size: 36px;
  --bodytitle-line-height: normal;
  --bodytitle-font-weight: 600;
  --bodytitle-font-style: normal;
  --bodytext-font-family: Montserrat-SemiBold, sans-serif;
  --bodytext-font-size: 16px;
  --bodytext-line-height: normal;
  --bodytext-font-weight: 600;
  --bodytext-font-style: normal;
  --bodyprice-font-family: Montserrat-SemiBold, sans-serif;
  --bodyprice-font-size: 24px;
  --bodyprice-line-height: normal;
  --bodyprice-font-weight: 600;
  --bodyprice-font-style: normal;
  --bodylittletext-font-family: Montserrat-SemiBold, sans-serif;
  --bodylittletext-font-size: 10px;
  --bodylittletext-line-height: normal;
  --bodylittletext-font-weight: 600;
  --bodylittletext-font-style: normal;
  --bodyfiltertags-font-family: Montserrat-SemiBold, sans-serif;
  --bodyfiltertags-font-size: 24px;
  --bodyfiltertags-line-height: normal;
  --bodyfiltertags-font-weight: 600;
  --bodyfiltertags-font-style: normal;
  --footertitle-font-family: Montserrat-SemiBold, sans-serif;
  --footertitle-font-size: 32px;
  --footertitle-line-height: normal;
  --footertitle-font-weight: 600;
  --footertitle-font-style: normal;
  --footertext-font-family: Montserrat-SemiBold, sans-serif;
  --footertext-font-size: 16px;
  --footertext-line-height: normal;
  --footertext-font-weight: 600;
  --footertext-font-style: normal;
  --producttag-font-family: Montserrat-SemiBold, sans-serif;
  --producttag-font-size: 10px;
  --producttag-line-height: normal;
  --producttag-font-weight: 600;
  --producttag-font-style: normal;
  --log-in-sing-up-font-family: Karla-Regular, sans-serif;
  --log-in-sing-up-font-size: 16px;
  --log-in-sing-up-line-height: normal;
  --log-in-sing-up-font-weight: 400;
  --log-in-sing-up-font-style: normal;

  /* Effects */
}
