<div class="basket-container">
    <div class="basket-page-left">
        <section class="top-basket-section">
            <h1 class="body-title">
                My basket - 3 items
                <hr>
            </h1>
            <div class="basket-delivery-option">
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text">Delivery</span>
                </button>
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text">Click & collect</span>
                </button>
            </div>
        </section>
        <section class="bottom-basket-section">
            <div class="basket-product" xlu-include-file="../templates/basket-product.html"></div>
            <div class="basket-product" xlu-include-file="../templates/basket-product.html"></div>
            <div class="basket-product" xlu-include-file="../templates/basket-product.html"></div>
        </section>
    </div>
    <div class="basket-summary-bar">
        <section class="summary-section">
            <h1 class="body-subtitle center-text">Order Summary</h1>

            <dl class="order-details body-text">
                <dt>Subtotal:</dt>
                <dd>[Value]</dd>
                <dt>Estimated Total:</dt>
                <dd>[Value]</dd>
            </dl>

            <button class="checkout-now" type="button">
                <span class="basket-text">Checkout Now</span>
            </button>

            <section class="payment-methods">
                <h2 class="body-subtitle center-text">Payment Methods</h2>
                <p class="body-text">Lorem Ipsum</p>
                <p class="body-text">Lorem Ipsum</p>
            </section>
        </section>
    </div>
</div>