<div class="basket-container">
    <div class="basket-page-left">
        <section class="top-basket-section">
            <h1 class="body-title font-base">
                My basket - 3 items
                <hr>
            </h1>
            <div class="basket-delivery-option">
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text font-base">Delivery</span>
                </button>
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text font-base">Click & collect</span>
                </button>
            </div>
        </section>
        <section class="bottom-basket-section">
<!--            localstorage-->
            <div class="basket-product">
                <label class="basket-checkbox">
                    <input type="checkbox" checked>
                </label>
                <div class="item-image">
                    <img src="../assets/silicone.jpg" alt="Silicona">
                </div>
                <div class="item-details">
                    <h3 class="body-subtitle font-base">SILICONE FEI DAI</h3>
                    <div class="availability">
                        <div class="in-store">
                            <img src="../assets/star.png" alt="Star"/>
                            <p class="body-little font-base">NOT AVAILABLE IN STORE</p>
                            <img src="../assets/arrow.png" alt="Arrow"/>
                            <p class="body-little font-base">NOT AVAILABLE FOR DELIVERY</p>
                        </div>
                    </div>
                    <p class="big-price font-base">0.99€</p>
                    <div class="counter-container">
                        <button class="counter-button decrease">-</button>
                        <span class="counter-value counter">0</span>
                        <button class="counter-button increase">+</button>
                    </div>
                </div>
                <button class="remove">🗑️</button>
            </div>
            <div class="basket-product">
                <label class="basket-checkbox">
                    <input type="checkbox" checked>
                </label>
                <div class="item-image">
                    <img src="../assets/silicone.jpg" alt="Silicona">
                </div>
                <div class="item-details">
                    <h3 class="body-subtitle font-base">SILICONE FEI DAI</h3>
                    <div class="availability">
                        <div class="in-store">
                            <img src="../assets/star.png" alt="Star"/>
                            <p class="body-little font-base">NOT AVAILABLE IN STORE</p>
                            <img src="../assets/arrow.png" alt="Arrow"/>
                            <p class="body-little font-base">NOT AVAILABLE FOR DELIVERY</p>
                        </div>
                    </div>
                    <p class="big-price font-base">0.99€</p>
                    <div class="counter-container">
                        <button class="counter-button decrease">-</button>
                        <span class="counter-value counter">0</span>
                        <button class="counter-button increase">+</button>
                    </div>
                </div>
                <button class="remove">🗑️</button>
            </div>
            <div class="basket-product">
                <label class="basket-checkbox">
                    <input type="checkbox" checked>
                </label>
                <div class="item-image">
                    <img src="../assets/silicone.jpg" alt="Silicona">
                </div>
                <div class="item-details">
                    <h3 class="body-subtitle font-base">SILICONE FEI DAI</h3>
                    <div class="availability">
                        <div class="in-store">
                            <img src="../assets/star.png" alt="Star"/>
                            <p class="body-little font-base">NOT AVAILABLE IN STORE</p>
                            <img src="../assets/arrow.png" alt="Arrow"/>
                            <p class="body-little font-base">NOT AVAILABLE FOR DELIVERY</p>
                        </div>
                    </div>
                    <p class="big-price font-base">0.99€</p>
                    <div class="counter-container">
                        <button class="counter-button decrease">-</button>
                        <span class="counter-value counter">0</span>
                        <button class="counter-button increase">+</button>
                    </div>
                </div>
                <button class="remove">🗑️</button>
            </div>
        </section>
    </div>
    <div class="basket-summary-bar">
        <section class="summary-section">
            <h1 class="body-subtitle center-text font-base">Order Summary</h1>

            <dl class="body-text font-base">
                <dt>Subtotal:</dt>
                <dd>[Value]</dd>
                <dt>Estimated Total:</dt>
                <dd>[Value]</dd>
            </dl>

            <button class="checkout-now" type="button">
                <span class="basket-text font-base">Checkout Now</span>
            </button>

            <section class="">
                <h2 class="body-subtitle center-text font-base">Payment Methods</h2>
                <p class="body-text font-base">Lorem Ipsum</p>
                <p class="body-text font-base">Lorem Ipsum</p>
            </section>
        </section>
    </div>
</div>