<div class="basket-container">
    <div class="basket-products-container">
        <section class="top-basket-section">
            <h1 class="body-title font-base"></h1>
            <div class="basket-delivery-option">
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text font-base">Delivery</span>
                </button>
                <button class="basket-deliver-button" type="button">
                    <span class="basket-text font-base">Click & collect</span>
                </button>
            </div>
        </section>
        <section class="bottom-basket-section"></section>
    </div>
    <section class="basket-summary-container">
            <section class="basket-summary-price-section">
                <h1 class="body-subtitle center-text font-base">Order Summary</h1>
                <dl class="body-text font-base"></dl>
            </section>
            <div class="basket-summary-vertical">
                <section><h2 class="body-subtitle center-text font-base">Payment Methods</h2></section>
                <button class="checkout-now" type="button">
                    <span class="basket-text font-base">Checkout Now</span>
                </button>
            </div>
    </section>
</div>