<label class="basket-checkbox">
    <input type="checkbox" checked>
</label>
<div class="item-image">
    <img src="../assets/silicone.jpg" alt="Silicona">
</div>
<div class="item-details">
    <h3 class="body-subtitle font-base">SILICONE FEI DAI</h3>
    <div class="availability">
        <div class="availability-in-store">
            <img src="../assets/star.png" alt="Star"/>
            <p class="body-little font-base">NOT AVAILABLE IN STORE</p>
            <img src="../assets/arrow.png" alt="Arrow"/>
            <p class="body-little font-base">NOT AVAILABLE FOR DELIVERY</p>
        </div>
    </div>
    <p class="big-price font-base">0.99€</p>
    <div class="counter-container">
        <button class="counter-button decrease">-</button>
        <span class="counter-value counter">0</span>
        <button class="counter-button increase">+</button>
    </div>
</div>
<button class="remove">🗑️</button>
