<div class="detailed-product-container">
  <div class="top-boxes-detailed-product">
    <div class="top-box-detailed-product-left"></div>
    <div class="top-box-detailed-product-right">
      <div class="information-detailed-product"></div>
      <div class="counter-container">
        <p class="body-text font-base ">Amount</p>
        <button class="counter-button" id="decrease">-</button>
        <span class="counter-value" id="counter">0</span>
        <button class="counter-button" id="increase">+</button>
      </div>
      <div id="add-basket-container">
        <button class="add-basket-button" id="add-basket-button">
          <span class="basket-text font-base">Add to basket</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom-box-detailed-product"></div>
</div>
