<header>
    <div class="header-content">
        <div class="logo">
            <a href="../html/index.html">
                <img src="../../src/assets/logo0.png" alt="TIMAC logo">
            </a>
        </div>
        <form class="search" id="searchForm">
            <label>
                <input class="search-bar font-base" type="search" placeholder="Search" id="searchBar">
            </label>
        </form>
        <div class="account-basket-container">
            <a style="text-decoration: none" href="../html/basket-page.html">
                <img class="shopping" src="../../src/assets/Basket.png" alt="Your basket">
            </a>
            <img class="user" src="../../src/assets/AccountIcon.png" alt="Your Account" id="account-menu">
            <div class="menu-buttons-alignment">
                <div class="menu-container-unlogged">
                    <button class="menu-sign-up-button" type="button">
                        <span class="body-text font-base">Sign up</span>
                    </button>
                    <button class="menu-sign-in-button" type="button">
                        <span class="body-text font-base">Sign in</span>
                    </button>
                </div>
                <div class="menu-container-logged">
                    <button class="menu-log-out-button" type="button">
                        <span class="body-text font-base">Log out</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav-carousel body-text font-base">
        <a href="../html/subcategory-results-page.html?query=offers" target="_self" class="nav-button">Offers & Clearance</a>
        <a href="../html/subcategory-option-selector-page.html?category=Building" target="_self" class="nav-button">Building & Hardware</a>
        <a href="../html/subcategory-option-selector-page.html?category=Heating" target="_self" class="nav-button">Heating & Cooling</a>
        <a href="../html/subcategory-option-selector-page.html?category=Lighting" target="_self" class="nav-button">Lighting & Electrical</a>
        <a href="../html/subcategory-option-selector-page.html?category=Painting" target="_self" class="nav-button">Painting & Decorating</a>
        <a href="../html/subcategory-option-selector-page.html?category=Tools" target="_self" class="nav-button">Tools & Equipment</a>
        <a href="../html/subcategory-option-selector-page.html?category=New" target="_self" class="nav-button">New & Trending</a>
    </nav>
</header>
