<header>
    <div class="header-content">
        <div class="logo">
            <img src="../assets/logo0.png" alt="TIMAC logo">
        </div>
        <label class="search">
            <input class="search-bar font-base" type="search" placeholder="Search">
        </label>
        <div>
            <img class="shopping" src="../assets/Basket.png" alt="Your basket">
            <img class="user" src="../assets/AccountIcon.png" alt="Your Account">
        </div>
    </div>
    <nav class="nav-carousel body-text font-base">
        <a href="#" target="_blank" class="nav-button">Offers & Clearance</a>
        <a href="#" target="_blank" class="nav-button">Building & Hardware</a>
        <a href="#" target="_blank" class="nav-button">Heating & Cooling</a>
        <a href="#" target="_blank" class="nav-button">Lighting & Electrical</a>
        <a href="#" target="_blank" class="nav-button">Painting & Decorating</a>
        <a href="#" target="_blank" class="nav-button">Tools & Equipment</a>
        <a href="#" target="_blank" class="nav-button">New & Trending</a>
    </nav>
</header>
