<section class="product-section">
    <h2 class="product-section-title font-base">OFFERS</h2>
    <div class="product-slider">
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
    </div>
    <h2 class="product-section-title font-base">NEW AT TIMAC</h2>
    <div class="product-slider">
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
    </div>
    <h2 class="product-section-title font-base">TRENDING</h2>
    <div class="product-slider">
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
        <a href="#" class="product-card-link"><p xlu-include-file="../templates/product-pack.html"></p></a>
    </div>
</section>