<div class="single-big-product-container">
    <a class="single-big-product-full-link" href="../html/index.html"></a>
    <img class="single-big-product-image" src="../assets/ellipse-20.png" alt="Product image" />
    <p class="single-big-product-title font-base">PRODUCT</p>
    <p class="single-big-product-price font-base">99,99€</p>
    <div class="single-big-product-star-container">
        <img class="single-big-product-star" src="../assets/star-10.svg" alt="Star rating" />
        <p class="single-big-product-available-in-store font-base">AVAILABLE IN STORE</p>
    </div>
    <div class="single-big-product-arrow-container">
        <img class="single-big-product-arrow" src="../assets/arrow-10.svg" alt="Delivery arrow" />
        <p class="single-big-product-available-to-deliver font-base">AVAILABLE TO DELIVER</p>
    </div>
</div>