<div class="filter-bar">
  <div class="filter-bar-title font-base">
    <h1>Filter by</h1>
  </div>
  <div class="filter-bar-options">
    <div class="filter-bar-option">
      <p class="filter-bar-text font-base">Price</p>
      <img class="filter-bar-arrow" id="filter-bar-arrow-first" src="../../../assets/arrow-filter-bar.svg" alt="Arrow icon" [ngClass]="{'rotated': arrowStates['filter-bar-arrow-first']}" (click)="barToggle('price-bar', 'filter-bar-arrow-first')" />
    </div>
    <div class="filter-bar-option price-bar" [ngClass]="{'visible': isPriceBarVisible}">
      <div class="range-slider">
        <div class="range-slider-value" [ngClass]="{'visible': isBarSliderVisible}">
          <div class="range-track" ></div>
          <div class="range-track-active" id="rangeTrackActive" [style.left]="minPercent + '%'" [style.width]="(maxPercent - minPercent) + '%'"></div>
          <div class="range-inputs font-base">
            <label for="minPrice"></label>
            <label for="maxPrice"></label>
            <input type="range" id="minPrice" [min]="minPriceLimit" [max]="maxPriceLimit" [(ngModel)]="minPrice" (input)="updateRange('minPrice')" />
            <input type="range" id="maxPrice" [min]="minPriceLimit" [max]="maxPriceLimit" [(ngModel)]="maxPrice" (input)="updateRange('maxPrice')" />
          </div>
        </div>
        <div class="limit-price-label font-base">
          <span class="min-label" [ngClass]="{'visible': isPriceLabelVisible}" >min:</span>
          <span class="max-label" [ngClass]="{'visible': isPriceLabelVisible}">max:</span>
        </div>
        <div class="range-values" [style.justifyContent]="rangeValuesJustify" >
          <input #minInput type="text" [readonly]="!editingMin" [ngClass]="{'editable': editingMin, 'static': !editingMin}" [(ngModel)]="minPriceInput" (click)="enableEditing('minValue')" (blur)="disableEditing('minValue')" (keypress)="onKeyPress($event, 'minValue')" (input)="restrictToNumbers($event)" />
          <input #maxInput type="text" [readonly]="!editingMax" [ngClass]="{'editable': editingMax, 'static': !editingMax}" [(ngModel)]="maxPriceInput" (click)="enableEditing('maxValue')" (blur)="disableEditing('maxValue')" (keypress)="onKeyPress($event, 'maxValue')" (input)="restrictToNumbers($event)" />
        </div>
      </div>
    </div>

    <div class="filter-bar-option">
      <p class="filter-bar-text font-base">Brand</p>
      <img class="filter-bar-arrow" id="filter-bar-arrow-second" src="../../../assets/arrow-filter-bar.svg" alt="Arrow icon" [ngClass]="{'rotated': arrowStates['filter-bar-arrow-second']}" (click)="barToggle('filter-bar-option-brand', 'filter-bar-arrow-second')" />
    </div>
    <div class="filter-bar-option filter-bar-option-brand" [ngClass]="{'visible': isBrandBarVisible}">
      <div *ngFor="let brand of brands">
        <label>
          <input type="checkbox" [value]="brand" [(ngModel)]="selectedBrands[brand]" (change)="emitFilters()" />
          <span class="brand-label">{{ brand }}</span>
        </label>
      </div>
    </div>
  </div>
</div>
