<div class="not-authenticated-container" *ngIf="!userUid">
  <p class="info-label">You need to be logged in to use the favourites page.</p>
  <div class="navigate-buttons-container">
    <button class="navigate-button" [routerLink]="['/auth/login']">
      <span class="navigate-button-text">Log-in</span>
    </button>
    <button class="navigate-button" [routerLink]="['/']">
      <span class="navigate-button-text">Home page</span>
    </button>
  </div>
</div>

<div class="favorites-container" *ngIf="userUid">
  <div class="favorites-products-container">
    <ion-card class="title-favorites-section">
      <ion-card-header>
        <ion-card-title class="body-title font-base">
          Wish list - {{ totalItems }} items
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-list class="bottom-favorites-section">
      <app-favorite-item
        *ngFor="let product of favoriteProducts.values()"
        [product]="product"
        (removeProduct)="handleRemove($event)">
      </app-favorite-item>
    </ion-list>
  </div>
</div>
