<section class="product-section">
  <h2 class="product-section-title font-base" >OFFERS</h2>
  <div class="product-slider" id="product-section-offers">
    <p>SOLO PARA PROBAR</p>
  </div>
  <h2 class="product-section-title font-base"  >NEW AT TIMAC</h2>
  <div class="product-slider" id="product-section-new-at-timac">
    <p>SOLO PARA PROBAR</p>
  </div>
  <h2 class="product-section-title font-base">TRENDING</h2>
  <div class="product-slider" id="product-section-trending">
    <p>SOLO PARA PROBAR</p>
  </div>
</section>
