/* Filter bar */
.filter-bar {
  display: flex;
  background-color: #D8E7DA;
  flex-direction: column;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 250px;
  height: fit-content;
  max-height: 750px;
  justify-content: start;
  min-width: 250px;

}

.filter-bar-title {
  border-bottom: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

.filter-bar-title>p {
  margin-bottom: 0;
}

.filter-bar-title hr {
  width: 100%;
  background-color: black;
  height: 1px;
  border: none;
}

.filter-bar-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

}


.filter-bar-option{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

}



.filter-bar-arrow {
  transform: rotate(45deg);
  height: 30px;
  width: 60px;
  overflow: visible;
  transition: transform 0.3s ease;
}

.filter-bar-arrow.rotated {
  transform: rotate(136deg);
}

/* price bar*/

.range-slider {

  width: 300px;
  margin: 50px auto;
  position: relative;
}


.range-track {
  width: 100%;
  height: 5px;
  background: #c0d8c0;
  position: absolute;
  top: 18%;
  transform: translateY(-50%);
  z-index: 1;
}


.range-track-active {
  height: 5px;
  background: #ff6200;
  position: absolute;
  top: 18%;
  transform: translateY(-50%);
  z-index: 2;
}


.range-inputs {
  position: relative;
  z-index: 3;
}
.limit-price-label{
  display: flex;
  justify-content: space-evenly;
  font-size: var(--bodyfiltertags-subcategory-font-size);
}


input[type="range"] {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: none;
}



input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #ff6200;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #ff6200;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}



.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

}




.range-values span {
  font-size: var(--bodytext-font-size);
  font-family: var(--font-family),serif;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
}

.range-values input {
  font-size: 16px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  height: 32px;
  margin: 0;
  line-height: 1.5;
}
.price-bar{
  max-height: 75px;
  display: none;
}

span#maxValue {
  width: fit-content;
}

span#minValue {
  width: fit-content;
}
/*Brand-options*/
.filter-bar-option-brand {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  margin-left: 10%;
  display: none;
  overflow: auto;
}

label {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}


.brand-label{
  font-size: var(--bodyprice-font-size);
  font-family: var(--font-family), serif;
  line-height: 1.5;
}



.range-slider-value,
.min-label,
.max-label,
.price-bar,
.filter-bar-option-brand {
  display: none;
}


.min-label.visible,
.max-label.visible,
.price-bar.visible,
.filter-bar-option-brand.visible {
  display: flex;
}
.range-slider-value.visible {
  display: initial;
}

.range-values {
  display: flex;
  gap: 10px;
}

.range-values input.static {
  border: none;
  cursor: pointer;

  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  color: #000;
}

.range-values input.static:hover {
  background: #f0f0f0;
}

.range-values input.editable {
  border: 1px solid #ccc;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;

}

@media (max-width: 576px) {

  .main-content-for-product-display{
    flex-direction: column;
  }
  .filter-bar{
    display: none;
  }

}
