body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: #FC4C21;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.logo {
    margin-left: 0;
}

.logo img {
    width: 200px;
    height: auto;
}

.shopping-and-user {
    position: relative;
    align-self: auto;
}

.shopping {
    margin: 0 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 50px;
    max-width: 50px;
}

.user {
    margin: 0 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 50px;
    max-width: 50px;
}

.search {
    border-radius: 5px;
}