* {
  margin: 0;
  padding: 0;
}

.footer-pack {
  height: 300px;
  background: var(--headerfootercolor-0, #fc4c21);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-community {
  position: relative;
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 1250px) {
  .map {
    display: none;
  }
  .footer-pack{
    justify-content: center;
  }
}

@media (min-width: 1250px) {
  .map {
    display: block;
  }
  .footer-pack{
    justify-content: space-evenly;
  }
}

.join-our-social-community {
  color: #ffffff;
  font-family: var(--font-family), serif;
  font-size:var(--footertitle-font-size) ;
  font-weight:var(--font-weight) ;
  width: 100%;
  text-align: center;
}

.whatsapp-logo {
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  aspect-ratio: 1;
}

.facebook-logo {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
}

.x-logo {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
}

.ig-logo {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  overflow: visible;
  aspect-ratio: 1;
}

.address {
  color: #ffffff;
  font-family: var(--font-family),sans-serif;
  font-size: var(--footertext-font-size), 16px;
  font-weight: var(--font-weight) ;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 15px;
}

.contact-container{
  height: 250px;
  width: 30%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  align-items: start;
}

.phone-number {
  color: #ffffff;
  text-align: left;
  margin-top: 15px;
  font-family: var(--font-family), sans-serif;
  font-size: var(--footertext-font-size);
  font-weight: var(--font-weight);
}


.contact-info-container{
  width: 100%;
  gap: 3%;
  display: flex;
  justify-content: left;
}

.contact {
  font-family: var(--font-family), sans-serif;
  font-size: var(--footertitle-font-size);
  font-weight: var(--font-weight);
  color: #ffffff;
  width: 100%;
  text-align: center;
}


.map{

  height: 250px;
  width: 30%;
}



.ellipse-3 {
  background: #0564fd;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 10px;
  height: 10px;
  left: 130px;
 bottom: 110px;
  aspect-ratio: 1;
  position: relative;
}



:root {
  --font-family: Montserrat;
  --bodytitle-font-size: 36px;
  --footertitle-font-size: 32px;
  --bodyprice-font-size: 24px;
  --bodyfiltertags-font-size: 24px;
  --bodytext-font-size: 16px;
  --footertext-font-size: 16px;
  --log-in-sing-up-font-size: 16px;
  --producttag-font-size: 10px;
  --bodylittletext-font-size: 10px;
  --font-weight: 600;
  --headerfootercolor-0: #fc4c21;
  --headerfootercolor-100: #fc623d;
  --headerfootercolor-200: #fd7959;
  --headerfootercolor-400: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
  ),
  linear-gradient(to left, #fd8f74, #fd8f74);
  --headerfootercolor-500: #febcac;
  --secondarycolor-0: #f5e8b7;
  --secondarycolor-100: #f6ebc0;
  --secondarycolor-200: #f8eec9;
  --secondarycolor-300: #f9f1d2;
  --containerbackground-0: #c1d8c3;
  --containerbackground-100: #c9ddcb;
  --containerbackground-200: #d1e2d2;
  --containerbackground-300: #d8e7da;
  --mg-0: #6a9c89;
  --mg-100: #7da898;
  --mg-200: #8fb5a7;
  --mg-300: #a2c1b5;
}

