/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
//@import "@ionic/angular/css/normalize.css";
//@import "@ionic/angular/css/structure.css";
//@import "@ionic/angular/css/typography.css";
//@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
//@import "@ionic/angular/css/padding.css";
//@import "@ionic/angular/css/float-elements.css";
//@import "@ionic/angular/css/text-alignment.css";
//@import "@ionic/angular/css/text-transformation.css";
//@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

//@import "@ionic/angular/css/palettes/dark.always.css";
//@import "@ionic/angular/css/palettes/dark.class.css";
//@import '@ionic/angular/css/palettes/dark.system.css';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  display: flex;
  flex: 1 0 auto;
  overflow: auto;
  justify-content: center;
}

.main-content-for-product-display {
  flex: 1 0 auto;
  overflow: auto;
  width: 100%;
}

:root {
  --font-family: Montserrat, sans-serif;
  --bodytitle-font-size: 36px;
  --footertitle-font-size: 32px;
  --bodyprice-font-size: 24px;
  --bodyfiltertags-font-size: 24px;
  --bodybasket-font-size:24px;
  --bodyfiltertags-subcategory-font-size: 22px;
  --bodytext-font-size: 16px;
  --footertext-font-size: 16px;
  --log-in-sing-up-font-size: 16px;
  --producttag-font-size: 10px;
  --bodylittletext-font-size: 12px;
  --font-weight: 600;
  --headerfootercolor-0: #fc4c21;
  --headerfootercolor-100: #fc623d;
  --headerfootercolor-200: #fd7959;
  --headerfootercolor-400: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
  ),
  linear-gradient(to left, #fd8f74, #fd8f74);
  --headerfootercolor-500: #febcac;
  --secondarycolor-0: #f5e8b7;
  --secondarycolor-100: #f6ebc0;
  --secondarycolor-200: #f8eec9;
  --secondarycolor-300: #f9f1d2;
  --containerbackground-0: #c1d8c3;
  --containerbackground-100: #c9ddcb;
  --containerbackground-200: #d1e2d2;
  --containerbackground-300: #d8e7da;
  --mg-0: #6a9c89;
  --mg-100: #7da898;
  --mg-200: #8fb5a7;
  --mg-300: #a2c1b5;
}

/* FONTS */
.font-base {
  font-family: var(--font-family), serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: normal;
}

.body-text {
  font-size: var(--bodytext-font-size);
}

.body-title {
  font-size: var(--bodytitle-font-size);
}

.big-price {
  font-size: var(--bodytitle-font-size);
  color: red;
}

.basket-text {
  font-size: var(--bodybasket-font-size);
  color: white;
}

.body-subtitle {
  font-size: var(--bodybasket-font-size);
}

.center-text {
  text-align: center;
}

.body-little {
  font-size: var(--bodylittletext-font-size);
}

.filter-bar-text {
  width: 50%;
  font-size: var(--bodyfiltertags-font-size);
}

.filter-bar-title h1 {
  font-size: var(--bodytitle-font-size);
}

.subcategory-name {
  text-align: center;
  font-size: var(--bodytitle-font-size);
  position: relative;
  width: 70%;
}

.single-big-product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--bodytext-font-size);
  height: 20px;
  width: 80%;
  overflow: hidden;
}

.single-big-product-price {
  text-align: left;
  font-size: var(--bodyfiltertags-font-size);
  position: relative;
  height: 9%;
  width: 87px;
}

.single-big-product-price h2{
  font-size: var(--bodyfiltertags-font-size);
  margin: 0;
}

.product-title {
  font-size: 1em;
  margin: 0;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 95%;
}
.product-price {
  font-size: 1em;
  margin: 0;
}
