<div class="basket-product">
  <label>
    <input type="checkbox" [ngModel]="checkbox()" (ngModelChange)="onCheckboxChange()">
  </label>
  <div class="item-image">
    <img src="{{ product.image }}" alt="{{ product.name }}">
  </div>
  <div class="item-details">
    <h3 class="body-subtitle font-base">{{ product.name }}</h3>
    <div class="availability">
      <div class="availability-in-store">
        <img src="assets/star.png" alt="Star"/>
        <p class="body-text font-base">{{ product.availability?.in_store ? 'AVAILABLE IN STORE' : 'NOT AVAILABLE IN STORE' }}</p>
      </div>
      <div class="availability-for-delivery">
        <img src="assets/arrow.png" alt="Arrow"/>
        <p class="body-text font-base">{{ product.availability?.delivery ? 'AVAILABLE FOR DELIVERY' : 'NOT AVAILABLE FOR DELIVERY' }}</p>
      </div>
    </div>
    <div class="counter-container">
      <button class="counter-button decrease" (click)="decreaseQuantity()">-</button>
      <span class="counter-value counter">{{ quantity() }}</span>
      <button class="counter-button increase" (click)="increaseQuantity()">+</button>
    </div>
    <div class="basket-product-price">
      <p class="big-price font-base">{{ product.price }}{{ product.currency }}</p>
    </div>
  </div>
  <button class="remove" (click)="remove()">❌</button>
</div>
